@media only screen and (min-width:1600px) {




   
   
    div.prj-contenuto {
        margin-top:380px;
    }

    .prj-contenuto-text {
        column-count: 2;
        column-gap: 40px;
    }
    
    h1#name-prj {
        width:20%;

    }
    
    video.img-singola {
        margin-bottom:15px;
        margin-top: 15px;
    }
    
    img.img-singola {
        margin-bottom:15px;
        margin-top: 15px;
    }
    
     img#imgd-1 {
        margin-right:5px;
        width:49.3%;
         float:left;
         margin-bottom:15px;
    margin-top:15px;
    }
    
    img#imgd-2 {
        margin-left:5px;
        width:49.3%;
        float:right;
        margin-bottom:15px;
    margin-top:15px;

    }
    
    
video#imgd-1 {
        margin-right:5px;
        width:49.3%;
         float:left;
         margin-bottom:15px;
    margin-top:15px;
    }
    
    video#imgd-2 {
        margin-left:5px;
        width:49.3%;
        float:right;
        margin-bottom:15px;
    margin-top:15px;

    }
    
    img#imgd-2-last {
        margin-left:5px;
        width:49.3%;
        float:right;
margin-top:15px;
        margin-bottom:30px;
    }
    
     video#imgd-2-last {
        margin-left:5px;
        width:49.3%;
        float:right;
margin-top:15px;
        margin-bottom:30px;
    }
    
     img#imgd-1-last {
        margin-right:5px;
        width:49.3%;
        float:left;
margin-top:15px;
        margin-bottom:30px;
    }
    
     video#imgd-1-last {
        margin-right:5px;
        width:49.3%;
        float:left;


        margin-bottom:30px;
    }
    
    img#img-top {
    width: 100%;
}
    
    
}


@media only screen and (min-width: 992px) {
 
    
    #name-prj {
        width:30%;
        margin-right: 50px;
    }
    #name-prj i {
    font-size:30px;
        font-weight:400;
        line-height: 35px;
        
        
    }
    #name-prj b {
        font-size: 20px;
        line-height: 25px;

 
    }
    
    #allinea {
        display:flex;
         margin-bottom:10px;
         margin-top:10px;

    }
    
    .prj-contenuto-text {
    font-size: 20px;
    line-height: 25px;
   
        width:100%;

    width:65%;
    }
    
    #header-mob {
        display:none;
    }
    
    .prj-contenuto {
    padding-top:5px;
    color: black;
    max-width:100%;
    padding-left: 25px;
    padding-right: 25px;
        
}
    
    .img-singola {
    width: 100%;
    margin-bottom:10px;
    margin-top:10px;
    
}
    
     #imgd-1 {
        margin-right:5px;
        width:49%;
         float:left;
         margin-bottom:10px;
    margin-top:10px;
    }
    
    #imgd-2 {
        margin-left:5px;
        width:49%;
        float:right;
        margin-bottom:10px;
    margin-top:10px;

    }
    
    #imgd-2-last {
        margin-left:5px;
        width:49%;
        float:right;

    margin-top:10px;
        margin-bottom:25px;
    }
    
    #imgd-1-last {
        margin-right:5px;
        width:49%;
        float:left;

    margin-top:10px;
        margin-bottom:25px;
    }
    
    #last-img {
   margin-bottom:20px; 
}
    
    #img-top {
    margin-top: 20px;
        margin-bottom: 10px;
    }
    footer #home-f {
        padding-bottom: 25px;
    }

}

@media only screen and (max-width: 991.98px) {
    
    
    .prj-contenuto {
    color: black;
    max-width:100%;
    padding-left: 15px;
    padding-right: 15px;
}

    #header-mobile {
        display:none;
    }
    
    #next-appear {
        display: none;
    }
    
    #name-prj i {
    font-size:25px;
        font-weight:400;
        line-height: 25px;
        
        
        
    }
    
    div#allinea {
        padding-left: 20px;
            padding-top:95px;
        position:absolute;
    }
    h1#home-h {
        font-size: 25px;
        padding-left: 20px;
    }
    
    h1#home-f {
        font-size: 25px;
        padding-left: 20px;
        padding-top:25px;
        
    }
    
    #name-prj {
        margin-top:0px;
        margin-bottom: 15px;
    }

    .prj-contenuto-text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom:10px;
        margin-top: 10px;

    }

    
    span:hover h3#next {
    background-color:#fc0fc0;
    }
    
    h3#back:hover{
    background-color:#fc0fc0;
    }

    .img-singola {
    width: 100%;
    margin-bottom:0px;
    margin-top:7px;
    
}
    
    #img-top {
    margin-top:15px;
    margin-bottom: 0px;
    }
    

    .imgdouble img{
        display:block;
  
 
    }
    

    #imgd-1{
    float: left;
    margin-bottom:7px;
    margin-top:0px;
        width:100%;
}

#imgd-2{
    float: right;
    margin-bottom:7px;
    margin-top:0px;
    width:100%;
}  
    
    #imgd-2-last{
    float: right;
    margin-bottom:15px;
    margin-top:10px;
        width:100%;
} 
    
        #imgd-1-last{
    float: left;
    margin-bottom:0px;
    margin-top:7px;
            width:100%;
} 

 
    
    #last-img {
   margin-bottom:15px; 
}

   
    
   
}

@media only screen and (max-width: 767.98px) {
    #header-mobile {
        display:none;
    }
    
    #next-appear {
        display: none;
    }
    
    div.prj-contenuto {
        margin-top:0px;
    }
    
    #name-prj i {
    font-size:25px;
        font-weight:400;
        line-height: 25px;
        
        
        
    }
    
    div#allinea {
        padding-left: 20px;
        padding-top:75px;
        position: relative;
        padding-left:15px;
        padding-bottom:15px;
 }
    h1#home-h {
        font-size: 25px;
        padding-left: 15px;
        padding-top:15px;
        padding-bottom:15px;
    }
    
    h1#home-f {
        font-size: 25px;
        padding-bottom: 25px;
        padding-top:15px;
        padding-left: 15px;
        

    }
    
    #name-prj {
        margin-bottom: 15px;
    }

  

    
  
   
   
    

}

@media only screen and (max-width: 575.98px) {
    #header-mobile {
        display:none;
    }
    
   
}





body {
    background-color: white;
    width:100%;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    margin:0 auto;
}


#header{
    display: flex;
    margin-left:50px;
    margin-top:5px;
    display:center;
   }

header a{
    color:black;
    text-decoration: none;
    margin-left:5px;
    
}





#next{
    border: 0px solid black;
}

#back{
    border: 0px solid black;
}

#back:hover {
    background-color:#1C1C1C;
    border: 0px solid black;
    transition-duration: 0.3s;
   
    
}


#back {
    border-radius:100%;
    width:70px;
    height: 70px;
    background-color: #0AFF00;
  
    }
    
    #back a {
       text-align: center;
        padding-left:16px;
        font-size:40px;
        line-height: 71px;
        color:white;
        
    }
    
    #next {
    border-radius:100%;
    width:70px;
    height: 70px;
    background-color: #0AFF00;
    margin-left:10px;
    
    }
    
    #next a {
      text-align: center;
        padding-left:16px;
        font-size:40px;
        line-height: 71px;
        color:white;
    }





#img-top {
    width: 100%;
}

.imgdouble img{
    max-width: 100%;
}

.imgdouble video{
    max-width: 100%;
}

.prj-contenuto {
max-width:100%;
margin-top:430px;
    margin-bottom:80px;

    
background-color: white;
    float:left;
-webkit-box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
-moz-box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
    position:relative;
    z-index: 0;
    
    

}



#home-h {
    font-size: 30px;
    width:100%;
    text-align: left;
    padding-top:20px;
    padding-left:25px;
    position: fixed;
    padding-bottom:20px;
    background-color:white;
    z-index: 999;
     -webkit-box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
-moz-box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
box-shadow: 0px -2px 34px 0px rgba(33,33,33,1);
   
}

#next-h {
   font-size: 35px;
    width:100%;
    text-align: left;
    padding-top:20px;
    padding-left:592px;
    position: fixed;
    padding-bottom:20px;
    
    z-index: 999;
    
}

header {
    max-width: 100%;
}




#allinea {
     padding-left:25px;
    padding-right:30px;
    padding-top:100px;
    z-index: -1;
    position: fixed;
    color:white;
    background-color:#1c1c1c;
    
}


#home-f {
    font-size: 30px;
    width:100%;
    text-align: left;
    padding-left:30px;
    padding-bottom: 30px;
    padding-top:30px;
    position: fixed;
    bottom:0;
    z-index: -1;
    color:black;
    background-color:white;
}


#next-f {
   font-size: 30px;
    width:100%;
    text-align: left;
    bottom:0;
    padding-left:450px;
    position: fixed;
    z-index: -2;
}



