
@media only screen and (min-width: 1800px) {
    
    footer p{
        font-size: 25px;
        line-height: 30px;
}
    
   img.img-cover{
        width:280px;
    }
    
    video.img-cover{
        width:280px;
    }


    
    #progetti {
        margin-top:30px;
    }
    
   
    
  a #ball-radius h3 {
        font-size: 45px;

    }
    
    a #ball-radius-cv h3 {
        font-size: 45px;

    }
    
    #ball #ball-radius{
        border-radius:100%;
        width:90px;
        height: 90px;
        }
    
    #ball #ball-radius-cv{
        border-radius:100%;
        width:90px;
        height: 90px;
        }

    a #ball-radius #ig {
        line-height: 92px;
        left:23px;
        letter-spacing: -1px;
    }
    
    a #ball-radius #lk {
    line-height: 93px;
        left:22px;
        letter-spacing: -0.5px;
    }
    
    a #ball-radius #be {
        line-height: 92px;
        left:14px;
        letter-spacing: -1.5px;
    }
    
    a #ball-radius-cv #cv {
   line-height: 93px;
    padding-left:12px;
      
    }
    
    a #ball-radius-cv #email {
    padding-left:20px;
    font-size:47px;
    line-height: 80px;
        
    }
    
    .overlay .tit-small {
    font-size: 23px;
    position: absolute;
    color: white;  
    top: 7px;
    left: 8px;
    width: 100%;
    line-height: 25px;
    font-weight: 400;
    }

.overlay .tit-type {
    font-size: 23px;
    position: absolute;
    color: white;
    top: 50px;
    left: 8px;
    width: 95%;
    line-height: 25px;
    letter-spacing: 0.1px;
    

    }

.tit-year {
   font-size: 34px;
    position: absolute;
    color: white;
    bottom: 5px;
    left: 8px;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.1px;
   
  

    }
    
 
}



@media only screen and (min-width: 992px) {
    .progetti-mobile {
        display:none;
    }
    
    header {
display:none;
    }
    
#ball-radius h3 {
        font-size: 35px;
        margin: 0 auto;
        
    }
   
    
    #ball-radius-cv h3 {
        font-size: 35px;
        margin: 0 auto;
    }
    
    #ball li{
        border-radius:100%;
        width:70px;
        height: 70px;
        }
    
     
    #ball-radius #ig {
        line-height: 69px;
        left:17px;
        letter-spacing: -1px;
    }
    
    #ball-radius #lk {
    line-height: 72px;
        left:17.5px;
        letter-spacing: -0.5px;
    }
    
    #ball-radius #be {
        line-height: 71px;
        left:12.5px;
        letter-spacing: -1.5px;
    }
    
    #ball-radius-cv #cv {
   line-height: 74.5px;
    padding-left:10px;
      
    }
    
    #ball-radius-cv #email {
    padding-left:16px;
    font-size:37px;
    line-height: 68px;
        
    }
    
#ball-mobile {
        opacity:0;
    }
    
    #ball {
        opacity:1;
    }
    
    .img-cover {
  width: 250px;
  display:flex;  
    
   
}


}

@media only screen and (max-width: 991.98px) {
    .img-cover {
  width: 250px;
  display:flex;  
    
   
}

    .progetti-mobile {
        display:none;
    }
    
    header {
display:none;
    }
    
    
#ball-radius h3 {
        font-size: 35px;
        margin: 0 auto;
        
    }
   
    
    #ball-radius-cv h3 {
        font-size: 35px;
        margin: 0 auto;
    }
    
    #ball li{
        border-radius:100%;
        width:70px;
        height: 70px;
        }
    
     
    #ball-radius #ig {
        line-height: 69px;
        left:17px;
        letter-spacing: -1px;
    }
    
    #ball-radius #lk {
    line-height: 72px;
        left:17.5px;
        letter-spacing: -0.5px;
    }
    
    #ball-radius #be {
        line-height: 71px;
        left:12.5px;
        letter-spacing: -1.5px;
    }
    
    #ball-radius-cv #cv {
   line-height: 74.5px;
    padding-left:10px;
      
    }
    
    #ball-radius-cv #email {
    padding-left:16px;
    font-size:37px;
    line-height: 68px;
        
    }

    
#ball-mobile {
        display:none;
    }
    
    #ball {
        opacity:1;
    }
}



@media only screen and (max-width: 767.98px) {
    #progetti li{
        display:none;
    }
    
    .progetti-mobile {
        display:inline-block;
        position:relative;
    }
    
    #img-mobile-1 {
        margin-top:5px;
    }
    
    #ball-mobile {
        display:block;
    }
    
    footer {
        display:none;
    }
    
    header {
        margin-left:15px;
        margin-right:15px;
        margin-top:95px;
        max-width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding-bottom:20px;
        display:block;
        position:fixed;
        z-index: -1;

    }
    
    header #p-email {
        margin-top:10px;
    }
    
    header #p-email a{
        margin-top:10px;
        text-decoration: underline;
    }
    
 
.img-mobile img{
    width:100%;
}
    
    .img-mobile {
         margin-bottom: 25px;
    }
    
    .img-mobile video {
    max-width:100%;
       

}
    
    #tit-mobile {
        font-size:16px;
         line-height: 20px;
        text-decoration: none;
        color:black;
        margin-top:5px;
    }
    
     #capt-mobile  {
        text-decoration: none;
         font-size:16px;
         line-height: 20px;
        color:black;
         font-style: italic;
         margin-top:1px;
    }
    
    
    
    

}


@media only screen and (max-width: 575.98px) {
   
   


}




/* General */
body {
    background-color: white;
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
    max-width: 100%;
    
    }

canvas {
  display: none;

}



/* Projects */



.anarchy {
  position: absolute;
  visibility: hidden;
    border: 0px solid black;

}



/* Projects caption */
.tit-small {
    font-size: 20px;
    position: absolute;
    color: white;  
    top: 7px;
    left: 8px;
    width: 100%;
    line-height: 22px;
    font-weight: 400;
    }

.tit-type {
    font-size: 20px;
    position: absolute;
    color: white;
    top: 33px;
    left: 8px;
    width: 95%;
    line-height: 22.5px;
    letter-spacing: 0.1px;
    

    }

.tit-year {
   font-size: 34px;
    position: absolute;
    color: #EBFF00;
    bottom: 5px;
    left: 8px;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.1px;
   
display:none;
  

    }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #1C1C1C;


}



.img-capt:hover .overlay {
  opacity: 1;
transition-duration: 0.1s;
    border: 0px solid #1C1C1C;

}

#progetti li:hover{
    z-index: 999;
    
}





/* Ball contacts mobile */
#ball-mobile {
    padding-top:5px;
    top:0;
    list-style: none;

}


#ig-m {
    left:15px;
    line-height:65px;
    letter-spacing: -1px;
}

#be-m {
    left:10px;
    line-height:67px;
    letter-spacing: -1px;
}

#lk-m {
    left:15px;
    line-height:65px;
    letter-spacing: -1px;
}

#cv-m {
    left:8px;
    line-height:67px;
    letter-spacing: -2px;
}

#email-m {
    padding-left:13px;
    line-height: 59px;
    
}



#email-m a{
    text-decoration: none;
    color:white;

    
    
}


#ball-radius-m{
border-radius:100%;
width:65px;
height: 65px;
background-color:#0AFF00;
margin: 0 auto;
border: 0px solid white;
color:white;
}

#ball-radius-m:hover {
    background-color:#1c1c1c;
    color:white;
}

 #ball-radius-m h3 {
        font-size: 35px;
        
    }
    
   
    
    #ball-radius-cv-m h3 {
        font-size: 35px;
    }
    
    #ball-radius-cv-m #email-m {
        font-size: 37px;
    }

    
   
}

#ball-radius-m:hover {
    background-color: #1c1c1c;
    border: 0px solid white;
    color:white;
}

#ball-radius-cv-m{
border-radius:100%;
width:65px;
height: 65px;
margin: 0 auto;
border: 0px solid white;
background-color: #ff00ec; 
color:white;
}



#ball-radius-cv-m:hover {
    background-color:#1C1C1C;
    border: 0px solid white;
    color:white;
}



.tit-type-social {

    position: absolute;
   
    line-height: 95px;

    }

#ig {
    left:23px;
    
}

#be {
    left:16px;
}

#lk {
    left:23px;
}

#ball#cv {
    left:15px;
    line-height: 28px;
}

#email {
    padding-left:18px;
    line-height: 87px;
}



#email a{
    text-decoration: none;
    color:black;
    
}

.tit-type-social a {
   
    text-decoration: none;
}

.tit-type-social a:hover {

     text-decoration: none;

}

#ball-radius{
border-radius:100%;
background-color:#0AFF00;
color:white;
border: 0px solid black;
}

#ball-radius:hover {
 color:white;
    background-color:#1C1C1C;
    transition-duration: 0.1s;
    
}

#ball-radius-cv:hover {
   color:white;
    background-color:#1C1C1C;
    transition-duration: 0.1s;
}

#ball-radius-cv{
border-radius:100%;
width:95px;
height: 95px;
margin: 0 auto;
background-color: #FF00EC;   
border: 0px solid black;
color:white;
    

}





footer {

    line-height: 24px;
    z-index: 999;
    font-size:20px;
    margin-left:0px;
    padding-left:20px;
    bottom: 0;
    padding-bottom:20px;
    position:fixed;
    max-width: 100%;
    margin-bottom:0px;
    margin-right:0px;
    text-align: left;
    background-color:white;
    left:0;
    right:0;
    padding-top:20px;
-webkit-box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
-moz-box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
}

#p-email{
margin-top:10px;
}

#descr {
    width:95%;

}




.progetti-mobile {
-webkit-box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
-moz-box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
box-shadow: 0px -12px 49px -12px rgba(31,31,31,1);
    padding-top:10px;
    margin:0 auto;
    margin-top:250px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    background-color: white;
    z-index: 999;
}

#last-img-mobile {
    margin-bottom:10px;
}

